.searchbutton{
    background-color: cornflowerblue;
    color: white;
    font-weight: bolder;
    width:75x;
    height:30px;
    margin-top: 30%;
    margin-right: 10px;
    border-radius: 10px;

}

.searchinput{
    background-color: cornflowerblue;
    color: white;
    font-weight: bolder;
    width: 75px;
    height:25px;
    margin-top: 30%;
    margin-right: 10px;
    border-radius: 10px;

}